.menu {
    background-image: url('../../../public/hero_bg_3_1.png');
    background-size: cover;
    background-position: center;
}

.our_menu {
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}

.our_restaurant{
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 400;
      font-size: 45px;
      line-height: 1;
}


.name{
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 400;
      font-size: 25px;
}

.details{
    font-family: "ZCOOL XiaoWei", sans-serif;
    line-height: 1.625;
    font-size: 20px;
    color: #5C6574;
}

.card1:hover .img_container div {
    opacity: 0.85;
}
